<h3><%= link_to "New Photo", new_photo_path %></h3>
<ol>
  <% @photos.each do |photo| %>
    <li>
      <p>Title:<%= photo.title %> </p>
      <p>Description:<%= photo.body %> </p>
      <p>Picture:<img src="<%= photo.image %>" alt="photo" height="300px"></p>
  </li>
<% end %>
</ol>